html{
	font-family: 'Vollkorn', serif;
}

body{
	margin: 0;
	background: url("img/p1.png");
}

h1{
	text-align: center;
    font-size: 70px;
    color:white;
}

hr {
border : 0;
  height: 1px; 
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)); 
}

.elem{
	height: 50vh;
	width: 45%;
	margin: 15px;
	box-shadow: 0px 0px 10px 1px white;
	cursor: pointer;
	transition-property: all;
  	transition-duration: 0.2s;
  	display: inline-flex;
  	margin: 20px;
}

.elem:hover{
	box-shadow: 0px 0px 10px 1px #00ff00;
}

.elem:active{
	box-shadow: 0px 0px 0px #00ff00;
}

#port1{
	background: url("img/port1.png") no-repeat;
	background-size: cover;
}

#port2{
	background: url("img/port2.png") no-repeat;
	background-position: center;
	background-size: cover;
}